.clickLink{
width: 40px;
height: auto;
}

.clickLink:hover{
    border-style: groove;
    border-color: #fffa65;
    box-shadow: 0 0 5px white, 0 0 5px white;
    transition: all 0.3s ease-in-out;
}

.clickmouse:hover{
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
    color: #fffa65;
}