.clickmouse:hover{
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
    color: #fffa65;
}

@keyframes thunderlight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.thunderlight {
  position: relative;
  overflow: hidden;
}

.thunderlight::after {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255,255,255,0.1) 0%,
    rgba(255,255,255,0.6) 50%,
    rgba(255,255,255,0.1) 100%
  );
  animation: thunderlight 3s linear infinite;
  will-change: transform;
}

